/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body
{font-family: 'Lato', sans-serif;}

a
{color:#4878bb;
text-decoration:none;
}

a:hover, a:active, a:visted
{color:#4878bb;
text-decoration:none;
}

.center
{text-align:center;}

.paddall
{padding:50px;}

.paddRL
{padding:50px;}

.paddcol1
{padding:25px 25px 25px 60px;}

.paddcol2
{padding:25px 25px 25px 80px;}

.bluestripe
{min-width:100%;
background-color: #4878bb}

.yellowstripe
{width:100%;
background-color: #f8af32}

.maincontainer
{width:1100px;
margin:0 auto 0 auto;}

.heading
{
text-align:center;
color:#fff;
font-weight:900;
text-transform:uppercase;
font-size:100px;
line-height: 120px;
letter-spacing:9px;
}

.name
{font-size:170px;
line-height: 180px
}

.carmess{width:100%;}

.mes1{color:#999;
font-size:120px;
text-transform:uppercase;
letter-spacing:5px;
font-weight: 300}

.mes2{color:#999;
font-size:80px;
letter-spacing:5px;
font-weight: 300}

.join
{color:#fff;
font-size:70px;
font-weight: 300;
letter-spacing:4px;}

.relative
{position: relative;
}

.cols
{height:450px;}

.col1{
margin-top:10px;
position:absolute;
width:510px;
text-align:center;

}

.col2
{
margin-top:10px;
    position:absolute;
width:520px;
padding-left:10px;
text-align:center;
left:550px;
border-left:3px dotted #999;}

.heading2
{color:#4878bb;
text-transform: uppercase;
font-weight: 500;
font-size:75px;}


.details
{color:#666;
font-size:35px;
font-weight:300;}

.map
{padding: 25px 0 25px 0;}

.clock
{padding:2px 0 5px 0 ;}

.attire
{height:220px;}


.facediv
{position:absolute;
}

.dress
{position: absolute;
font-size:80px;
letter-spacing: 2px;
color:#fff;
text-align:center;
left: 250px;
text-transform: uppercase}


.feel
{font-weight: 800;
font-style:italic;}

.cols2
{height:800px;
margin-bottom:50px;}


.medcarimg
{padding:10px 10px 0 20px;}

.col2 ul li
{margin-left:20px;
color:#4878bb}

.rsvp
{color:#fff;
font-size:200px;
text-align:center;
font-weight:800;
line-height:220px;
letter-spacing: 12px}

.rsvpdate
{text-align:center;
font-size:22px;
text-transform: uppercase;
color:#fff;
letter-spacing:1px;}

.seeu
{color:#fff;
text-transform: uppercase;
font-size:100px;
font-weight: 800;
text-align:center;}

.footer
{text-align:center;
color:#fff;
margin-top:50px;}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.left
{text-align:left !important;}

/* ==========================================================================
   Print styles
   ========================================================================== */

